/* Estilos cuerpo de aplicación */
body{
    background-color: #fafafa;    
}
/* Estilos títulos */
body .container .espaciotitulos{
    margin: 30px 0;
}
/* Estilos para barra de navegación */
.iconlogo{    
    max-height: 50px;
    max-width: 100%;
}
.bungeecss{
    font-family: 'Bungee', cursive;
    color: white;
    text-decoration: none;
}
/* Estilo para fotos*/
.picturetype1 img{    
    border-radius: 50%;
    height: 180px;
    object-fit: cover;
}
.picturetype1align{
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;    
}
.row{
    align-items: center;    
    justify-items: center;
}
.picturetype2{       
    max-height: 400px;
    max-width: 100%;
    border-radius: 5%;
}
.picturetype3{       
    max-height: 350px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}
.gradient{
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
/* Estilo para botones */
.btn-primary{
    background-color: black;
    border-color: black;
    margin-bottom: 5%;
}
/* Estilos para Vista rápida a mis apartamentos*/
.imagenesperfil{
    display: flex;    
}
.imagenesperfil img{
    border-radius: 50%;
    width: 150px;
    object-fit: cover;    
    height: 150px;
    margin: 0 34px 10px 0;    
}
.containerslide {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 34px 10px 0;  
}  
.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(220, 230, 230);    
    opacity: 0.8;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.containerslide:hover .overlay {
    border-radius: 50%;
    width: 150px;
    object-fit: cover;    
    height: 150px;
}
.text {
    color: rgb(12, 78, 78);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}