/* Estilos cuerpo de aplicación */
body{
    background-color: #fafafa;    
}

/* Estilos títulos */
body .container .espaciotitulos{
    margin: 30px 0;
}

/* Estilos para barra de navegación */
.iconlogo{    
    max-height: 50px;
    max-width: 100%;
}
.bungeecss{
    font-family: 'Bungee', cursive;
    color: white;
    text-decoration: none;
}

/* Estilo para fotos*/
.picturetype1 img{    
    border-radius: 50%;
    height: 180px;
    object-fit: cover;
}
.row{
    align-items: center;    
    justify-items: center;
}
.gradient{
    background: #abbaab;  
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab); 
    background: linear-gradient(to right, #ffffff, #abbaab);
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/* Estilo para botones */
.btn{
    margin: 1px 1px;
}
.btn-primary{
    background-color: black;
    border-color: black;
    margin-bottom: 5%;
}
.btn-outline-primary.login{
    border-color: #E334A8;
    color: white;    
}
.btn-outline-primary.login:hover{
    background-color: #E334A8;
    color: white;
}
.btn-outline-primary.logout{
    border-color: #FF503B;
    color: white;
}
.btn-outline-primary.logout:hover{
    background-color: #FF503B;
    color: white;
}
.btn-outline-primary.signup{
    border-color: #B546FA;
    color: white;
}
.btn-outline-primary.signup:hover{
    background-color: #B546FA;
    color: white;
}
.btn-outline-primary.home{
    border-color: #8E8AE6;
    color: white;
}
.btn-outline-primary.home:hover{
    background-color: #8E8AE6;
    color: white;
}

/*Estilos para vista todos los apartamentos en el index*/
.form-control.index{
    background-color: unset;
}
.row.index{
    border-color: #8E8AE6;
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: 1rem;
    margin: 20px 0;
}
.picturetype3{       
    max-height: 350px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.picturetype1align{
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;    
}

/*Estilos para vista todos los apartamentos por Anfitrión*/
.row.listapartment{
    border-color: #B546FA;
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: 1rem;
    margin: 20px 0;
}
.picturetype2{       
    max-height: 400px;
    max-width: 100%;
    border-radius: 5%;
}

/* Estilos para Vista rápida a mis apartamentos*/
.imagenesperfil{
    display: flex;    
}
.imagenesperfil img{
    border-radius: 50%;
    width: 150px;
    object-fit: cover;    
    height: 150px;
    margin: 0 34px 10px 0;    
}
.containerslide {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 17px;  
}  
.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(220, 230, 230);    
    opacity: 0.8;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.containerslide:hover .overlay {
    border-radius: 50%;
    width: 150px;
    object-fit: cover;    
    height: 150px;
}
.text {
    color: rgb(12, 78, 78);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/*Estilos flecha para mover la pagina hacia arriba*/
.ir-arriba.md-48{
    display: none;            
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;    
}
.material-icons.md-48 { 
    font-size: 48px; 
}